body, html{ background: #0e0e0e; }
#header,#footer,#content{
  color:#fff;
  background: #0e0e0e;
}

.pure-button{
  margin: 2px;
}

input {
  margin: 2px;
}

#header{
  height:auto;
  top:0;
  left:0;
  padding-top: 3px;
  padding-bottom: 3px;
  border-width: 1px;
  border-bottom: 1px gray solid;
}
#footer{
  height:auto; bottom:0;
   border-width: 1px;
   border-top: 1px gray solid;
   padding-top: 3px;
   padding-bottom: 3px;
}
#content{
  font-family: monospace;
  padding:70px 0;
}
#app {
  text-align: left;
}
tbody tr:hover{
  background-color: #1f8dd6;
  color: white;
}
.selected{
  background-color: #1f8dd6;
  color: white;
}
.text_stdin {
  color: grey
}
.text_stdout {
  color: white
}
.text_stderr {
  color: red
}
.text_event {
  color: yellow
}
.text_sentevent {
  color: orange
}
.text_variable {
  color: aqua
}
.text_function {
  color: lime
}

#login{
  padding-top:30px;
}
.center{ text-align: center; }
#terminal{
  display: none;
  background: #0e0e0e;
}
#footer{
  position: fixed;
  bottom:0;
  left:0;
  height:50px;
  width:100%;
}
.fixed-sidebar{
  color:#fff;
  position: fixed;
  padding:70px 0;
  height:100%;
}
.fixed-sidebar .form-control{
  max-width:90%;
}
.file-custom::after{
  content: "Upload File..."
}