/* Global styling */
html{ font-size:14px; }
body, html{ background: #252830; color:#fff; }
.align-right{ text-align: right; }
.center{ text-align: center; }

/* Bootstrap Overrides */
body::-webkit-scrollbar,
.fixed-sidebar::-webkit-scrollbar{ display: none }
.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #434857;
  background-image: none;
  border: 1px solid #434857;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-control:focus {
  color: #252830;
  background-color: #fff;
  box-shadow: none;
  border-color: #ffffff;
  outline: 0;
}
.fixed-sidebar{
  color:#fff;
  position: fixed;
  padding-top:70px;
  padding-bottom:70px;
  height:100%;
  overflow-y:scroll;
  z-index: 1;
}
.fixed-sidebar .form-control{
  max-width:90%;
}
.file-custom{
  background-color: #434857;
  border: 1px solid #434857;
  color: #ffffff;
}
.file-custom::after{
  content: "Upload File..."
}
.navbar label{ margin:0;}

.centered{
  text-align: center;
}

#footer .form-group.row{ margin:0;}

/* Access Control */
#login{ display: none; padding-top:30px; }
#terminal{ display: none; }

/* Login Form */
#login_error{ display: none; }

/* Terminal Areas */
#header,#footer,#content{
  color:#fff;
}
#header, #footer, #sidebar{
  background: #252830;
}
#header{
  height:auto;
  top:0;
  left:0;
  border-width: 1px;
  border-bottom: 1px gray solid;
  padding-top:.5em;
  padding-bottom:.5em;
}
#header h1{ margin:0; }
#footer{
  bottom:0;
  border-width: 1px 0 0 0;
  border-top: 1px gray solid;
  padding-top: .5em;
  padding-bottom: .5em;
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  z-index: 2;
}
#content{
  font-family: Consolas, monospace, sans-serif;
  padding-top:70px;
  padding-bottom:70px;
}

/* Modal */
.modal{
  color:#373a3c;
}
.modal .form-control{
  background: #f1f1f1;
  color:#373a3c;
  border-color:#bbbbbb;
  box-shadow: none;
}
.modal .form-control:focus{
  border-color:#373a3c;
}

/* Terminal Content */
.selected{
  background-color: #1f8dd6;
  color: white;
}
.text_stdin     { color: #808080; }
.text_stdout    { color: #ffffff; }
.text_stderr    { color: #d9534f; }
.text_event     { color: #DCDC00; }
.text_sentevent { color: #f0ad4e; }
.text_variable  { color: #5bc0de; }
.text_function  { color: #5cb85c; }

/* Sidebar and Controls */
#show-sidebar{
  color:#fff;
  font-size:2rem;
  z-index: 1;
}
#devstatus .label{ display: none; }
#devstatus[data-status="true"] .online{ display: inline;}
#devstatus[data-status="false"] .offline{ display: inline;}

/* Responsive */
@media (max-width: 768px){
  .sm-center{ text-align: center; }
  .sm-align-right{ text-align: right; }

  .fixed-sidebar{
    transform:translateX(-100%);
    transition: transform 0.2s ease-out;
    min-width:50%;
  }
  .fixed-sidebar.open{
    transform:translateX(0%);
  }
  #footer > div[class^="col-"]{ margin:3px 0;}
}
@media (max-width: 544px){
  .xs-center{ text-align: center; }
  .xs-align-right{ text-align: right; }
  #show-sidebar{
    position: absolute;
    top:5px;
    left:10px;
  }
  .fixed-sidebar{
    width:100%;
  }

}
